/* Genel stillendirmeler */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}


/* FAQ kutusu */
.faq {
    width: 80%;
    margin: 20px auto;
    margin-top: 50px;
}

/* FAQ soru stilleri */
.faq-question {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #e0e0e0; /* Arka plan rengi */
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    position: relative;
}

/* FAQ cevap stilleri */
.faq-answer {
    margin-bottom: 20px;
    display: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #555;
}

/* Akordeon */
.faq-question.active + .faq-answer {
    display: block;
}

/* Aktif olmayan soruları gizle */
.faq-question:not(.active) + .faq-answer {
    display: none;
}

/* Ok simgesi */
.faq-question::after {
    content: '\25B6';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

/* Ok simgesi - açık durum */
.faq-question.active::after {
    transform: translateY(-50%) rotate(90deg);
}
