body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #040f1a; /* Koyu arka plan rengi */
  color: #fff; /* Beyaz metin rengi */
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  margin-top: 50px;
}

.news-item {
  background-color: #3e3e3e; /* Daha koyu ve hoş bir arka plan rengi */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px; /* Köşeleri kıvrık baloncuk yapar */
  overflow: hidden;
  margin-bottom: 20px;
}

.news-item img {
  width: 200px; /* Resim genişliği */
  height: auto; /* Resim yüksekliğini otomatik ayarla */
  object-fit: cover; /* Resmin boyutlandırma biçimini ayarladık */
  object-position: center; /* Resmin pozisyonunu ayarladık */
  float: left; /* Resmi sola hizalar */
  border-top-left-radius: 20px; /* Resmin sol üst köşesini baloncuk yapar */
  border-bottom-left-radius: 20px; /* Resmin sol alt köşesini baloncuk yapar */
}

.news-item-content {
  padding: 20px;
  overflow: hidden; /* İçeriği resmin sağına sığdırır */
}

.news-item h2 {
  font-size: 1.4rem; /* Başlık font büyüklüğü */
  margin-bottom: 10px;
}

.news-item p {
  color: #ddd; /* Açıklama metin rengi */
  margin-bottom: 10px;
}

.news-item a {
  display: block;
  background-color: #2980b9; /* Buton arka plan rengi */
  color: #fff; /* Buton metin rengi */
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  border-bottom-right-radius: 20px; /* Linkin sağ alt köşesini baloncuk yapar */
  border-top-right-radius: 20px; /* Linkin sağ üst köşesini baloncuk yapar */
  transition: background-color 0.3s ease;
}

.news-item a:hover {
  background-color: #1a5276; /* Buton hover arka plan rengi */
}
