body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 50px; /* Footer'ın altında boşluk bırakmak için */
}

nav {
    background-color: #333; /* Koyu arka plan rengi */
    color: #fff;
    display: flex;
    justify-content: space-between; /* Elemanlar arasında boşluk bırakmak için */
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Diğer elementlerin önünde kalması için */
}

.logo img {
    height: 40px; /* Logo boyutu */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Renk değişimini yumuşatmak için geçiş efekti */
}

.nav-links li a:hover {
    color: #1E90FF; /* Hover efektiyle renk değişimi */
}
.site-name {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    position: relative; /* veya absolute */
    top: -10px; 
}

.register-button {
    background-color: #FF6347; /* Daha çekici bir renk */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px; /* Butonu sola kaydırmak için */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, border-radius 0.2s; /* Arka plan rengi, transform değişimi ve kenar yuvarlaklığını yumuşatmak için geçiş efekti */
    border-radius: 20px; /* Yuvarlak şekli */
}

.register-button:hover {
    background-color: #FF5733; /* Koyu renkli hover efekti */
    transform: scale(1.05); /* Hover olduğunda butonun büyümesi */
}


.video-container {
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Videoya gölge efekti */
}

.video-container video {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .copyright {
    font-size: 14px;
}
